@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  top: 430px;
}

.masthead {
  height: 440px;
}

.content {
  margin-top: 440px;
}

@media (min-width: 1024px) {
  .banner {
    top: 0px;
  }

  .masthead {
    height: 750px;
  }

  .content {
    margin-top: 750px;
  }
}
