@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  top: 480px;
}

.masthead {
  height: 480px;
  border: solid 16px white;
}

.content {
  margin-top: 480px;
}

@media (min-width: 1024px) {
  .banner {
    top: 750px;
  }

  .masthead {
    height: 750px;
  }

  .content {
    margin-top: 750px;
  }
}
